/* Make the column clickable */
tr a{
    display: block;
}
/* Set .row-fluid position relative as #results will be positioned absolute */
.row-fluid{
    position: relative;
}
#results{
    display: none;
    border: 1px solid #eee;
    background-color: rgba(255,255,255, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}
#close{
    float: right;
    cursor: pointer;
}
/*Blur effect on Data div, experimental as IE doesn't support*/
.blur{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}