/* Make the column clickable */
tr a{
  display: block;
}
/* Set .row-fluid position relative as #results will be positioned absolute */
.row-fluid{
  position: relative;
}
#results{
  border: 1px solid #eee;
  background-color: rgba(255,255,255, 0.9);
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}
.arrow:after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #000000;
}