<!DOCTYPE html>
<html ng-app="ergast">
  <head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Md Shahidul Islam">
    <title>Ergast F1 world champions by year</title>
		<!-- Bootstrap cdn being used to keep the number files in the submission low -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<!-- Custom css for fixing and tweaking -->
		<link rel="stylesheet" href="custom.css" />
		
		<!-- angularjs cdn being used to keep the number files in the submission low -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<!-- Main app angular code -->
		<script src="app.js"></script>
  </head>
  <body ng-controller="ErgastController">
    <div class="container">
        <div class="content">
            <div class="section">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h1 class="panel-title">Ergast F1 world champions by year</h1>
								</div>
								<div class="panel-body">
									<div class="row-fluid" ng-controller="worldChampion">
                    <div class="col-md-6">
                        <table class='table table-hover'>
													<thead>
														<tr>
															<th>Year</th>
															<th>World Champion</th>
															<th>Action</th>
														</tr>
													</thead>
													<tbody>
														<!--
														-- This block will generate the World Champion list on the left hand side
														-- It'll loop through yeach year and access information from driver array in worldChampion controller
														-- if displaying other champion ship results the row will be highlighted and right arrow will be visible for user experience
														-- on Action column the app will create a click event which will call loadData function as pass year as an argument
														-->
															<tr ng-repeat="year in years" ng-class="{ 'success arrow' : year===activeYear }">
																	<td>{{year}}</td>
																	<td>
																		{{driver[year][0].name}}<br/>
																		<a href='{{driver[year][0].url}}' target='_blank'>Wikipedia Profile <span class="glyphicon glyphicon-link"></span></a>
																	</td>
																	<td><a href="#" ng-click="loadData(year)">Winner of other races</a></td>
															</tr>
													</tbody>
												</table>
                    </div>
										
										<!--
										-- This block will be displayed on the right hand side and result for first year element in the array will be shown
										-- in the first ng-repeat Races node will be traverse and second ng-loop in row will populate information from each row
										-- Race name and Driver full name willbe displayed
										-- Condition to add ng-class for World Champion highlighted in the other championship winners list for that season
										-->
										<div class="col-md-6" id="results">
											<h2>Winner of other Championships in {{activeYear}} </h2>
											<span class='label label-info'>* Highlighted winner is also the World Champion on the same season</span>
													<table class='table table-hover' ng-repeat="season in seasons" >
														<thead>
															<tr>
																<th>Race Name</th>
																<th>Winner</th>
															</tr>
														</thead>
														<tbody>
                            <tr ng-repeat="s in season.RaceTable.Races" ng-class="{ info : driver[activeYear][0].code==s.Results[0].Driver.code }">
                              <td>{{s.raceName}}</td>
                              <td>{{s.Results[0].Driver.givenName + " " + s.Results[0].Driver.familyName}}</td>
                            </tr>
														</tbody>
                        </table>
										</div>
									</div>
								</div>
							</div>
            </div>
        </div>
    </div>
  </body>
</html>